<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>twicas checker</title>
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>twicas checker <small>ツイキャスチェッカー</small></h1>
        <p>revin氏のUstream Checkerをリスペクトして作成したツイキャスチェックサイト。<br/>
        各配信者のツイキャス配信状況をまとめて表示します。</p>
        <h2>配信一覧（30秒毎に更新）</h2>
        <div class="table-responsive panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr><th>配信者名b</th><th>同時閲覧者数</th><th>合計閲覧者数</th><th>配信時間</th><th>タイトル・テロップ・タグ等</th><th>前回ライブのアーカイブ</th></tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>